
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>CHY Lab</title>
		<meta name="Will" content="CHYLab" />
		
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7243260-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

	</head>
	<body>
		<div class="container">
			<header class="clearfix">
				<h1>Experimental Note</h1>
			</header>	
			<div id="tabs" class="tabs">
				<nav>
					<ul>
						<li><a href="#section-1" class="icon-pencil"><span>Note</span></a></li>
						<li><a href="#section-2" class="icon-comment-o"><span>Post</span></a></li>
						<li><a href="#section-3" class="icon-recycle"><span>Duty</span></a></li>
						<li><a href="#section-4" class="icon-credit-card"><span>Order</span></a></li>
						<!--<li><a href="#section-5" class="icon-cog"><span>Setting</span></a></li>-->
					</ul>
				</nav>
				<div class="content">
					<section id="section-1">
						<div class="mediabox">
							<div>
							<img src="image/clone-s.svg" alt="cloning" />
							</div>
							<h3>Cloning and construction</h3>
							<p>Readme.</p>
						</div>
						<div class="mediabox">
							<div>
							<img src="image/arabidopsis-s.svg" alt="plant growing" />
							</div>
							<h3>Arabidopsis</h3>
							<p>Readme.</p>
						</div>
						<div class="mediabox">
							<div>
							<img src="image/caculator-s.svg" alt="caculating" />
							</div>
							<h3>Caculator</h3>
							<p>Readme.</p>
						</div>
					</section>
					<section id="section-2">
  						<div class="container">
  							<% @messages.each do |message| %>
    							<div class="message" >
      								<p class="content"><%= message.content %></p>
      								<p class="time"><%= message.created_at %></p>
    							</div>
    						<%end%>
    						<%= link_to 'New Post', "newpost" %>
  						</div>
					</section>
					<section id="section-3">
						<div class="mediabox">
							<div>
							<img src="image/clone-s.svg" alt="cloning" />
							</div>
							<h3>Cloning and construction</h3>
							<p>Readme.</p>
						</div>
					</section>
					<section id="section-4">
						<div class="mediabox">
							<div>
							<img src="image/clone-s.svg" alt="cloning" />
							</div>
							<h3>Cloning and construction</h3>
							<p>Readme.</p>
						</div>
					</section>
				</div><!-- /content -->
			</div><!-- /tabs -->
			<p class="info">2016/01/01 ver 1.0.0 Template by <a href="http://tympanus.net/codrops/" id>codrops</a><br><a href="https://www.facebook.com/groups/chylabfamily" class="icon-facebook-square">CHY family</a></p>
		</div>
		<script>
		/**
 * cbpFWTabs.js v1.0.0
 * http://www.codrops.com
 *
 * Licensed under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * Copyright 2014, Codrops
 * http://www.codrops.com
 */
;( function( window ) {
	
	'use strict';

	function extend( a, b ) {
		for( var key in b ) { 
			if( b.hasOwnProperty( key ) ) {
				a[key] = b[key];
			}
		}
		return a;
	}

	function CBPFWTabs( el, options ) {
		this.el = el;
		this.options = extend( {}, this.options );
  		extend( this.options, options );
  		this._init();
	}

	CBPFWTabs.prototype.options = {
		start : 0
	};

	CBPFWTabs.prototype._init = function() {
		// tabs elemes
		this.tabs = [].slice.call( this.el.querySelectorAll( 'nav > ul > li' ) );
		// content items
		this.items = [].slice.call( this.el.querySelectorAll( '.content > section' ) );
		// current index
		this.current = -1;
		// show current content item
		this._show();
		// init events
		this._initEvents();
	};

	CBPFWTabs.prototype._initEvents = function() {
		var self = this;
		this.tabs.forEach( function( tab, idx ) {
			tab.addEventListener( 'click', function( ev ) {
				ev.preventDefault();
				self._show( idx );
			} );
		} );
	};

	CBPFWTabs.prototype._show = function( idx ) {
		if( this.current >= 0 ) {
			this.tabs[ this.current ].className = '';
			this.items[ this.current ].className = '';
		}
		// change current
		this.current = idx != undefined ? idx : this.options.start >= 0 && this.options.start < this.items.length ? this.options.start : 0;
		this.tabs[ this.current ].className = 'tab-current';
		this.items[ this.current ].className = 'content-current';
	};

	// add to global namespace
	window.CBPFWTabs = CBPFWTabs;

})( window );
		</script>
		<script>
			new CBPFWTabs( document.getElementById( 'tabs' ) );
		</script>
		<!-- For the demo ad only -->   
		<style>
		/* General Blueprint Style */
/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #599ab9;
}

a {
	color: #ccc;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}

.container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.container > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}



.container > header nav {
	float: right;
	text-align: center;
}

.container > header nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
}

.container > header nav a > span {
	display: none;
}

.container > header nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.container > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > header nav a:hover:after {
	color: #fff;
}


p.info {
	text-align: center;
	padding: 20px;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?kigrxn');
    src:    url('fonts/icomoon.eot?kigrxn#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?kigrxn') format('truetype'),
        url('fonts/icomoon.woff?kigrxn') format('woff'),
        url('fonts/icomoon.svg?kigrxn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}/*icomoon*/
.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 1em 0 2em;
	font-weight: 300;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav ul li {
	border: 1px solid #becbd2;
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
}/*inactiove tabs*/

.tabs nav li.tab-current {
	border: 1px solid #599ab9;
	box-shadow: inset 0 2px #599ab9;
	border-bottom: none;
	z-index: 100;
}/*actiove tabs*/

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 1000px;
	background: #599ab9;
}/*tabs underline*/

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: #becbd2;
	display: block;
	font-size: 1.45em;
	line-height: 2.5;
	padding: 0 1.25em;
	white-space: nowrap;
}

.tabs nav a:hover {
	color: #768e9d;
}

.tabs nav li.tab-current a {
	color: #599ab9;
}

/* Icons */
.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}
.icon-facebook-square:before{
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}
.icon-cog:before {
    content: "\f013";
}
.icon-pencil:before {
    content: "\f040";
}
.icon-facebook-square:before {
    content: "\f082";
}
.icon-credit-card:before {
    content: "\f09d";
}
.icon-comment-o:before {
    content: "\f0e5";
}
.icon-recycle:before {
    content: "\e900";
}

/* Content */
.content section {
	font-size: 1.25em;
	padding: 3em 1em;
	display: none;
	max-width: 1230px;
	margin: 0 auto;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #599ab9;
}

.content section.content-current {
	display: block;
}

.mediabox {
	float: left;
	width: 33%;
	padding: 0 25px;
}

.mediabox div {
	background-color: #599ab9;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.mediabox div img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.mediabox h3 {
	margin: 0.75em 0 0.5em;

}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1.3;
}


/* Example media queries */

@media screen and (max-width: 55em) {
	.container > header h1,
	.container > header nav {
		float: none;
	}
	.container > header > span,
	.container > header h1 {
		text-align: center;
	}	
	.tabs nav a span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}

	.mediabox {
		float: none;
		width: auto;
		padding: 0 0 35px 0;
		font-size: 90%;
	}


	.mediabox div {
		float: left;
		margin: 0 25px 10px 0;
		max-width: 50%;
	}
	
	.mediabox h3 {
		margin-top: 0;
	}

	.mediabox p {
		margin-left: 40%;
		margin-left: calc(40% + 25px);
	}

	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}
}

@media screen and (max-width: 35em) {
	.container > header{
		padding: 1em 0;
	}
	.container > header h1 {
	margin: 0;
	}
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}

	.tabs nav ul li {
		width: calc(25% + 1px);
		margin: 0 0 0 -1px;
	}

	.tabs nav ul li:last-child {
		border-right: none;
	}

	.mediabox {
		text-align: center;
	}

	.mediabox div {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	.mediabox h3 {
		margin: 1.25em 0 1em;
		display:none;
	}

	.mediabox p {
		margin: 0;
		display:none;
	}
}
.message{
	border: solid;
	margin: 20px;
	height: 100px;
	padding: 0 25px;
}
		</style>
	</body>
</html>
